.app-start {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $white;

  .hill {
    position: absolute;
    bottom: 0;
  }
    
  .hill-1 {
    @extend .hill;
    right: -1px;
    height: 75%;
  }
    
  .hill-2 {
    @extend .hill;
    left: 0;
    height: 81%;
  }
    
  .hill-3 {
    @extend .hill;
    right: 0;
    height: 48%;
  }
  
  .hill-4 {
    @extend .hill;
    left: 0;
    height: 42%;
  }
}
